﻿<h1>Список расчетов</h1>
<input [(ngModel)]="searchModel.id" placeholder="id">
<input [(ngModel)]="searchModel.name" placeholder="name">
<input type="button" value="Отфильтровать" class="btn btn-default" (click)="loadOptions()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>Ид</td>
            <td>Наименование расчёта</td>
            <td>Расстояние от камеры до объекта в см. (A)</td>
            <td>Высота установки камеры от пола в см. (D)</td>
            <td>Высота установки камеры от объекта в см. (B)</td>
            <td>Вертикальный угол наклона камеры. (Alpha)</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of cameraOptions">
            <td>{{o.id}}</td>
            <td>{{o.title}}</td>
            <td>{{o.distanceToObject}}</td>
            <td>{{o.heightFromFloor}}</td>
            <td>{{o.heightFromObject}}</td>
            <td>{{o.angleAlpha}}</td>
            <td>
                <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>
<input [disabled]="!hasPreviousPage" type="button" value="Назад" class="btn btn-default" (click)="loadOptions()" />
<input [disabled]="!hasNextPage" type="button" value="Вперед" class="btn btn-default" (click)="loadOptions()" />
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />

<ng-template #create>
    <div class="form-group">
        <label>Наименование расчёта.</label>
        <input type="text" [(ngModel)]="cameraModel.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Расстояние от камеры до объекта в см.</label>
        <input type="number" [(ngModel)]="cameraModel.a" class="form-control" />
    </div>
    <div class="form-group">
        <label>Высота установки камеры от пола в см.</label>
        <input type="number" [(ngModel)]="cameraModel.d" class="form-control" />
    </div>
    <div>
        <input type="button" value="Рассчитать" (click)="calculate()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>